@model SellSnacks.Models.CarrinhoCompra

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>CarrinhoCompra</h4>
    <hr />
    <dl class="row">
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.CarrinhoCompraId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
